.logo-image{
    width: 46px;
    height: 46px;
    margin-top: -6px;
}
.search-container {
    float: right;
  }

  .nav-tabs>li {
    float: left;
    margin-bottom: -25px;
    padding: 37px;
}
img.img-fluid {
  margin-top: -46px;
  margin-left: -148px;
}

i.fa-solid.fa-phone {
  font-size: 15px;
}

.topnav {
  padding-right: 5px;
  width: 100%;
  padding-left: 6px;
  margin-right: 43px;
  margin-left: 142px;
}
.topnav .icon {
  display: none;
}
